@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para el toggle switch */
.toggle-checkbox:checked {
  right: 0;
  border-color: #2563eb;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #2563eb;
}